
	
</head>
<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url(images/background/bg2.jpg);">
			<a href="/"><img src="images/logo-white-2.png" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">reset your <span>password</span></h2>
				</div>

				<% if (messages.length > 0) { %>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<% messages.forEach(err => { %>
							<strong><%- err %></strong><br>
						<% }); %>
					</div>
				<% } %>

				<% if (success.length > 0) { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<% success.forEach(err => { %>
							<strong><%- err %></strong><br>
						<% }); %>
					</div>
				<% } %>


				<form class="contact-bx" method="post" action="/resetpass">
					<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>ایمیل خود را وارد کنید</label>
									<input name="resetemail" type="email" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>رمزعبور جدید را وارد کنید</label>
									<input name="resetpass" type="password" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>دوباره رمز عبور را تکرار کنید</label>
									<input name="resetpassrepeat" type="password" class="form-control">
								</div>
							</div>
						</div>
						
						<%- // recaptcha %>
						
						<div class="col-lg-12 m-b30">
							<button name="submit" type="submit" value="Submit" class="btn button-md">Reset</button>
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
